* {
  box-sizing: border-box;
}

.grid {
  max-width: 1024px;
  margin: 0 auto;
  font: 1.2em Helvetica, arial, sans-serif;
}

.grid > * {
  border: 2px solid #f08c00;
  background-color: #ffec99;
  border-radius: 5px;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.a {
  grid-area: a;
}

.c {
  grid-area: c;
}

.b {
  grid-area: b;
}

.d {
  grid-area: d;
}

.e {
  grid-area: e;
}

.f {
  grid-area: f;
}

.grid {
  display: grid;
  grid-gap: 20px;
}
